@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ff69b4;
  color: #e4eef1;
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1216px;
  margin: 20px auto;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container p {
  text-transform: uppercase;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  list-style: none;

  @media (max-width: 770px) {
    display: none;
  }
}

.nav-links li {
  margin-right: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #e4eef1;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffd9ec;
}

section {
  width: 100%;
  padding: 40px 0;
}

.sobre {
  background-color: #ffd9ec;

  .content p {
    color: #000000;
  }
}

.conscientizacao {
  background-color: #ff69b4;
  color: #e4eef1;
}

.dicas {
  background-color: #ffd9ec;
}

.content,
.tips-container {
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content p {
  font-size: 25px;
  max-width: 600px;

  @media (max-width: 770px) {
    font-size: 16px;
  }
}

.tips-container {
  justify-content: center;
  gap: 20px;
}

footer {
  background-color: #ff69b4;
  padding: 20px 0;
  color: #e4eef1;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1216px;
  margin: 0 auto;
  text-align: center;
}

.social-media img {
  margin-right: 10px;
  cursor: pointer;
}

.credits {
  text-align: center;
}

.credits p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .header-container,
  .content {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .tips-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer-container {
    flex-direction: column;
  }
}
